/* FOOTER */
footer {
    !import
    display: flex;
    padding-top: 3px;
    line-height: 35px;
    height: 35px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #3b3b3b;
    color: #ebf8ff;
    text-align: center;
    align-items: center;
    justify-content: center;
}